<div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
            <img src="../../assets/perfil/seba.jpg" class="img-fluid" alt="retrato steve jobs" id="foto-perfil">
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre"> Sebastián Butticé</p>
            <p> Full Stack Developer Junior</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p> Si bien estudié periodismo siempre estuve cerca de las computadoras, así en sentido general. Finalmente los caminos llevaron al estudio de la programación.</p>
            </span>
        </div>

</div>

