<div class="row">
    <h1>Experiencia</h1>
    
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, minus! Nesciunt voluptate fugit, rerum assumenda veritatis delectus repellat tenetur sit nostrum, autem error maxime nisi reprehenderit ducimus in illum harum!</p>

                <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, minus! Nesciunt voluptate fugit, rerum assumenda veritatis delectus repellat tenetur sit nostrum, autem error maxime nisi reprehenderit ducimus in illum harum!</p>
            
                <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, minus! Nesciunt voluptate fugit, rerum assumenda veritatis delectus repellat tenetur sit nostrum, autem error maxime nisi reprehenderit ducimus in illum harum!</p>

                <div *ngFor = "let job of jobs">
                {{job.nombre}}
                {{job.apellido}}
                {{job.direccion?.dir}}
                </div>
        </ul>
    
    </div>



</div>